<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @for(product of products; track product.name){ 
        <tr>
            <td><img class="img-tbl" [src]="product.image" [alt]="product.name"></td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            @if (product.stock > 0){
                <td>{{product.stock}}</td>
            } @else {
                <td> <span class="badge bg-warning text-dark"> Sin Stcok</span></td>
            }
        </tr>
        } @empty {
            <tr>
                <td>No hay productos para mostrar.</td>
            </tr>
        }
    </tbody>

</table>
