<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        @for(product of products; track product.name){ 
            <tr [class.clearance]="product.clearance">
                <td>
                    <img class="img-tbl" [src]="product.image" [alt]="product.name">
                </td>
                <td>{{product.name}} @if (product.clearance) {
                        <span class="badge bg-success text-white ms-2">¡Oferta!</span>
                    }
                </td>
                <td>
                    {{product.price | currency }}
                </td>
                @if (product.stock > 0){
                    <td>
                        <span class="badge bg-warning text-dark">Hay Stock</span>
                    </td>
                } @else {
                        <td> 
                            <span class="badge bg-danger text-white"> Sin Stcok</span>
                        </td>
                    }
                <td>
                    <app-input-integer [(quantity)]="product.quantity" [max]="product.stock" (maxReached)="maxReached($event)"></app-input-integer>
                </td>
            </tr>
        } @empty {
            <tr>
                <td colspan="4">No hay productos para mostrar.</td>
            </tr>
        }
    </tbody>

</table>
